
body{

	background-color: #f0f0f0;
}
.page{
	background-color: #fff;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
#footer{
	margin-top: 20px;
	background-color: #fff;
	padding:30px;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-nav>li{
    
    margin-right: 100px;
}


.YES {
    color: green;
}

.NO {
    color: red;
}