<div ng-Controller="AnswerCtrl" class="container">
            <h1>New Quiz Result</h1>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <form name="testform" autocomplete="off" ng-submit="create(quiz, testform)" class="form-inline">
                      <div class="form-group">
                        <label for="nome">First Name</label>
                        <input type="text" name="nome" ng-model="quiz.first_name" class="form-control" placeholder="Inserisci il nome">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail2">Last Name</label>
                        <input type="text" ng-model="quiz.last_name" class="form-control" placeholder="Inserisci il cognome" />
                      </div>
                    <div style="height:30px; clear:left;"></div>
                    <table class="table table-striped text-center table-bordered">
                        <thead>
                           <tr>
                               <th class="text-center">Number</th>
                               <th class="text-center">Answer</th>
                               <th class="text-center">Correct</th>
                               <th class="text-center">Right ?</th>
                           </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="n in (answers | progfilter: checked)">
                            <td ng-bind="n.no"></td>
                            <td>
                                <select class="form-control" ng-change="getNumber(n.no)" ng-model="quiz.answer[n.no]" name="" id="" style="width: 150px;height: 25px;display: inherit;">
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                        <option>D</option>
                                        <option>E</option>
                                </select>
                            </td>
                            <td>{{n.resp}}</td>
                            <td>{{n.correct}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                    <div style="height:30px; clear:left;"></div>
                    <div class="row">
                        <div class="col-md-5"><p>
                        <button class="btn btn-primary" ng-click="create(quiz, formcontact)">Salva</button></p></div>
                        <div class="col-md-7"><p style="font-size: 22px">Risposte corrette: {{punteggio}}/{{totale}}</p></div>
                        <div style="height:30px; clear:left;"></div>                    
                    </div>
                </div>    
                <div class="col-md-3">
                    <div class="panel panel-default" style="margin-top: 90px">
                      <div class="panel-heading">
                        <h3 class="panel-title">Select Section</h3>
                      </div>
                      <div class="panel-body">
                        <p><label><input ng-model="checked" type="checkbox"> Programming </label></p>
                      </div>
                    </div>
                    <div class="panel panel-default" style="margin-top: 50px">
                      <div class="panel-heading">
                        <h3 class="panel-title">Last Results</h3>
                      </div>
                      <div class="panel-body">
                        
                      </div>
                    </div>                   
                </div>
            </div>
        </div>