<div class="container">
	<h1>Quiz template</h1>
	<table class="table table-striped text-center table-bordered">
		<thead>
			<th>First name</th>
			<th>Last name</th>
			<th>Score</th>
		</thead>
		<tbody>
			<tr ng-repeat="quiz in quizzes">
				<td ng-bind="quiz.first_name"></td>
				<td ng-bind="quiz.last_name"></td>
				<td ng-bind="quiz.score"></td>
			</tr>
		</tbody>
	</table>
</div>
